@import "../../scss/variables";

.area-card {
  transition: 0.3s all ease-out;
  transform: scale(1);

  & a:hover {
    text-decoration: none;
  }

  & img {
      width: 240px;
      padding: 1rem;
  }

  &--info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;

    & h5 {
        color: $color-major;
    }

    & p {
        color: $color-success;
    }
  }

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
}
